import unittest
import solve

class Day#DAY#TestMethods(unittest.TestCase):
  def setUp(self):
    pass

  # Does a thing
  def test_true(self):
      test_cases = [
        [True, False]
    ]
    for [expected, value] in test_cases:
    self.assertEqual(expected, value)
  
if __name__ == '__main__':
  unittest.main()